.material-icons.md-21 {
  font-size: 126px;
  opacity: 25%;
  align-content: center;
  margin-left: 175px;
}

.matcard {
  margin-left: 143px;
  margin-right: 40%;
  margin-top: 20px;
  padding: 7px;
  min-width: 360px;
  height: 48px;
  width: 596px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(70, 71, 70, 0.2), 0 2px 15px 0 rgba(29, 29, 29, 0.19);
}
.mat-card1:hover {
  box-shadow: 0 4px 8px 0 rgba(70, 71, 70, 0.2),
  0 6px 20px 0 rgba(29, 29, 29, 0.19);
}

.mat-card:hover {
  box-shadow: 0 4px 8px 0 rgba(70, 71, 70, 0.2),
  0 6px 20px 0 rgba(29, 29, 29, 0.19);
}

.matcard1 {
  margin-left: 143px;
  margin-right: 40%;
  margin-top: 42px;
  min-width: 360px;
  width: 596px;
  padding: 7px;
  height: 101%;
  box-shadow: 0 1px 2px 0 rgba(70, 71, 70, 0.2), 0 2px 15px 0 rgba(29, 29, 29, 0.19);
}

.topinput {
  border: none;
  width: 100%;
  outline-color: white;
  letter-spacing: .01428571em;
  font-family: Roboto, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.input {
  margin-top: 0px;
  border: 2px;
  min-height: 66px;
  outline-color: white;
  margin-bottom: -28px;
  width: 586px;
  height: fit-content;
  color: #202124;
  direction: ltr;
  margin-left: 3px;
  resize: vertical;
  font-size: medium;
  font-family: 'Roboto', arial, sans-serif;
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1px;

}

.input2 {
  padding: 1px;
  margin-left: 3px;
  border: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  opacity: 80%;
  outline-color: white;
  margin-bottom: 9px;
  width: 596px;
  height: 27px;
}

.material-icons-outlined{
  color: #5f6368;
  margin-top: 14px;

}
.material-icons.md-18 { font-size: 18px; }

.iconButton{
  background-color: transparent!important;
  background-repeat: no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 0.8em;
  padding: 0px;
}

.pinicon{
  background-color: transparent!important;
  background-repeat: no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 0.8em;
  padding: 0px;
}

.check {
  margin-top: 0px;
  margin-left: 1px;
}

.gridmat {
  margin-top: 10px;
  min-height: 104px;
  margin-bottom: 8px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 0px ;
  color: #5f6368;
  border-width: thin;
  border-style: groove;
  border-color: gainsboro;
  border-radius: 10px;
}
.gridmat1 {
  margin-top: 10px;
  min-height: 126px;
  margin-bottom: 8px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 0px ;
  color: #5f6368;
  border-width: thin;
  border-style: groove;
  border-color: gainsboro;
  border-radius: 10px;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.listmat {
  margin-top: 10px;
  min-height: 151px;
  width: 722px;
  margin-bottom: 8px;
  margin-left: -98px;
  margin-block-start: 0px;
  color: #5f6368;
  margin-block-end: 0px;
  margin-block: 0px;
  border-width: thin;
  border-style: groove;
  border-color: gainsboro;
  border-radius: 10px;
}

.listmat1 {
  margin-top: 10px;
  min-height: 151px;
  width: 690px;
  margin-bottom: 10px;
  margin-left: -69px;
  margin-block-start: 0px;
  color: #5f6368;
  margin-block-end: 0px;
  margin-block: 0px;
  border-width: thin;
  border-style: groove;
  border-color: gainsboro;
  border-radius: 10px;
}
.material-icons.md-21 {
  font-size: 126px;
  opacity: 25%;
  align-content: center;
  margin-left: 250px;
}

.buttonforlabel {
  width: 6px;
  height: 22px;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.mat-stroked-button {
  line-height: 20px;
}

.labelhead {
  margin-left: -18px;
}

.mat-icon.md-65 {
  font-size: 16px;
}
.extraplus{
  display: inline-block;
  line-height: 0px;
  margin-top: -13px;
}
