* {
  padding: 0;
  margin: 0;
}
.example-app-name {
  padding: 5px;
  color: #5f6368;
}
.material-icons-outlined{
  //margin-left: 24px;
  color: #5f6368;
}

.example-container {
outline-width: 0px;
  outline-color: white;
  border-color: none;
  background-color: white;
  height: 800px;


}


.brush {
  margin-left: 51%;
}


.example-sidenav {
  background-color: white;
  user-select: none;


}

//.example-sidenav-content {
//  margin-left: 54%;
//  //display: flex;
//  //height: 100%;
//  //  align-items: center;
//  //margin-top: 55px;
//  ///* justify-content: center;
//  //bottom: 46%;
//
//}

.full-width {
  display: inline-block;
  padding: 0px;
  color: #5f6368;
  font-family: Google Sans, Roboto, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  margin-left: 16%;
}

//}.full-width1 {
//  display: inline-block;
//  padding: 0px;
//  color: #5f6368;
//  font-family: Google Sans, Roboto, Arial, sans-serif;
//  font-size: .875rem;
//  font-weight: 500;
//  margin-left: 16%;
//
//}.full-width2 {
//  display: inline-block;
//  padding: 0px;
//  color: #5f6368;
//  font-family: Google Sans, Roboto, Arial, sans-serif;
//  font-size: .875rem;
//  font-weight: 500;
//  margin-left: 39%;
//
//}.full-width3 {
//  display: inline-block;
//  padding: 0px;
//  color: #5f6368;
//  font-family: Google Sans, Roboto, Arial, sans-serif;
//  font-size: .875rem;
//  font-weight: 500;
//  margin-left: 51%;
//
//}.full-width4 {
//  display: inline-block;
//  padding: 0px;
//  color: #5f6368;
//  font-family: Google Sans, Roboto, Arial, sans-serif;
//  font-size: .875rem;
//  font-weight: 500;
//  margin-left: 62%;
//
//}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.new-card {
  margin-left: 30%;
  margin-top: 10%;
}

.search {
  box-shadow: none;
  margin-left: 6%;
  inline-size: 42%;
  margin-right: 14%;
  padding: 10px;
  height: 31px;
  width: 100%;
  color: #5f6368;
  border-radius: 10px;
  border: whitesmoke;
  background-color: whitesmoke;
}
.search:hover {
  box-shadow: 0 4px 8px 0 rgba(70, 71, 70, 0.2),
  0 6px 20px 0 rgba(29, 29, 29, 0.19);
}
.searchBar, click {
  height: 32px;
  outline-width: 0px;
  margin-top: 0px;
  width: 93%;
  vertical-align: super;
  margin-right: 0px;
  margin-left: 5px;
  outline-color: #5f6368;
  outline-offset: unset;
  font-size: medium;
  //margin-left: 6%;
  //    inline-size: 42%;
  //   padding: 10px;
  //  height: 31px;
  //  width: 100%;
  color: #5f6368;
  //   border-radius: 10px;
  border: whitesmoke;
  background-color: whitesmoke;
}

.toolbar {
  margin-top: 1px;
  margin-left: 16px;
  background-color: white;
  flex: 1;
}


.material-icons-outlined orange600 {
  font-size: 28px;
  /* color: #abbcecfb; */

  text-shadow: 0px 0px 1px black;
  /* color:rgb(243, 225, 192); */
  color: rgb(232, 243, 242);
}

.mat-expansion-panel {
  left: 22%;

  margin-top: 30px;
  width: 500px;
}

.menu-icons {
  display: inline-flex;
  padding: 0;
  color: #5f6368;
  margin: 0;
  list-style: none;
  margin-right: 43px;
  margin-top: 18px;
}

.menu-icons2 {
  display: inline-flex;
  padding: 0;
  margin: 0;
  color: #5f6368;
  margin-top: 11px;
  margin-right: 12px;
  list-style: none;

}

.mat-expansion-panel {
  background-color: whitesmoke;
}

.button {
  height: 50px;
  transition-duration: 0.4s;
  align-content: center;
}

.matbutton {
  border: none;
  background-color: white;
  color: #5f6368;
  border: white;
  outline-color: white;
  outline-offset: unset;
  cursor: pointer;
  margin-top: -10px;
}

.matbutton1 {
  border: none;
  background-color: white;
  color: #5f6368;
  border: white;
  outline-color: white;
  outline-offset: unset;
  margin-right: 16px;
  cursor: pointer;
  padding-right: 12px
}

.matbutton10 {
  border: none;
  background-color: white;
  color: #5f6368;
  border: white;
  outline-color: white;
  outline-offset: unset;
  margin-right: 16px;
  cursor: pointer;
  margin-top: 8px;
  padding-right: 12px
}
.iconColllector {
  padding: 0px;
  display: flex;

}

/*.brush{
  display: table-row;
  margin-left: 323px;
}*/


//#close {
//  margin-left: -20px;
//}
//.sideCorner, hover {
//  background-color: coral;
//border-start-end-radius: 10px;
//
//
//}
.menu {
  margin-left: 0px;
  color: #5f6368;

}
.note{

}

.navside {
  width: 229px;
  height: 98%;
  overflow-y: hidden;
}

.navside1 {
  width: 70px;
  height: 98%;
  overflow-y: hidden;
}

.example-sidenav-content {
  height: 597px;
}
.mat-drawer-side {
  border-right: none;
  border-right-color: white;
  border-right-style: none;
  border-right-width: thin;
}
.mat-dialog-container {
  background: none;
  width: inherit;
}

.accountMenu {
  margin-top: 7px;
}

.imageSelect {
  margin-top: -40px;
  margin-right: 29px;
  box-shadow: none;
  margin-bottom: -8px;
}

material-icons-outlined.md25{
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
}

.mailer {
  color: #5f6368;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
  margin-top: -4px;
  margin-left: 34px;
  margin-right: 34px;
}
