
<div style="alignment: center;margin-left: 154px;
     margin-top: 147px;" *ngIf="allArchivedNote.length <= 0">
  <mat-icon style="color: #5f6368;" class="material-icons-outlined md-21">archive
  </mat-icon><br><br>
  <p style="color: #5f6368; margin-left: 50px;opacity: 80%; font-size: 26px">Your archived notes appear here</p>
</div>

<div style="margin-left:1px; margin-top: 1%;">
  <div style="margin-top: 0px;overflow-y: hidden; margin-left: 50px;margin-bottom: 5%; width: 96%;"
       fxLayout="row wrap" fxLayoutGap="10px"
       fxLayoutAlign="start center" fxLayoutAlign.xs="center center" *ngIf="grid()== true">
    <div fxFlex='280px' fxFlex.xs='100' *ngFor="let note of allArchivedNote | noteSort: searchTerm; let i = index">
      <mat-card (mouseenter)="mouseenter(i+'p')"
                (mouseleave)="mouseleave()" class="gridmat" fxFlex="100%">
        <!--        <mat-icon *ngIf="isShowing && indexStatus === i" class="check" matTooltip="Select note">check_circle</mat-icon>-->
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between center"
               style=" margin-top:-12px; font-family: Roboto, Helvetica Neue, sans-serif;font-size: medium;color: #202124;opacity: 96%">
            {{note.title}}
            <button  *ngIf="isShowing && indexStatus === i+'p' && note.isPined"  mat-icon-button class="pinicon">
              <mat-icon matSuffix matTooltip="unpin note">push_pin
              </mat-icon>
            </button>
            <button  *ngIf="isShowing && indexStatus === i+'p' && !note.isPined"  mat-icon-button class="pinicon">
              <mat-icon matSuffix matTooltip="pin note" class="material-icons-outlined" (click)="pinNote(note, i)">push_pin
              </mat-icon>
            </button>
          </div>

          <div style="color: #5f6368">
            {{note.description}}
          </div>
        </mat-card-content>
        <div style="padding-left: 0px;
            padding-right: 0px;margin-left: -50px;margin-bottom: -28px">
          <ul style="list-style-type:none" fxLayout="row">
            <li>

              <button mat-icon-button class="iconButton">
                <mat-icon *ngIf="isShowing && indexStatus === i+'p'" matTooltip="reminder"
                          class="material-icons-outlined md-18">notifications
                </mat-icon>

              </button>
            </li>

            <li>
              <button mat-icon-button class="iconButton">
                <mat-icon *ngIf="isShowing && indexStatus === i+'p'" matTooltip="color"
                          class="material-icons-outlined md-18">palette
                </mat-icon>
              </button>
            </li>

            <li>
              <button mat-icon-button class="iconButton" (click)="unarchieve(note, i)">
                <mat-icon *ngIf="isShowing && indexStatus === i+'p'" matTooltip="Unarchive"
                          class="material-icons-outlined md-18" >archive
                </mat-icon>

              </button>
            </li>
            <li>

              <button mat-icon-button class="iconButton">
                <mat-icon *ngIf="isShowing && indexStatus === i+'p'" matTooltip="delete"
                          class="material-icons-outlined md-18">delete
                </mat-icon>

              </button>
            </li>
            <li>

              <button [mat-menu-trigger-for]="afterMenu" mat-icon-button class="iconButton">
                <mat-icon  *ngIf="isShowing && indexStatus === i+'p' && !note.isPined" matTooltip="more"
                           class="material-icons-outlined md-18">more_vert
                </mat-icon>
              </button>
            </li>
            <!--                    "-->
            <mat-menu #afterMenu="matMenu" xPosition="after">
              <button mat-menu-item>Delete Note</button>
              <button mat-menu-item>Add Lebel</button>
              <button mat-menu-item>Make A Copy</button>
            </mat-menu>

<!--            <mat-menu #addLebelMenu="matMenu" xPosition="after">-->
<!--              <h1 style="font-family: Roboto, Helvetica Neue, sans-serif; font-size: 14px; color: #5f6368" mat-dialog-title>Label Note</h1>-->
<!--              <mat-form-field>-->
<!--                <mat-label>Enter label name</mat-label>-->
<!--                <input matInput (input)="searchNode($event)" [(ngModel)]="labelSearchTerm">-->
<!--                <mat-icon matTooltip="Create lebel" style="cursor: pointer" matSuffix>search</mat-icon>-->
<!--              </mat-form-field>-->
<!--              <li *ngFor="let subtask of allLebel | labelSort: labelSearchTerm">-->
<!--                <mat-checkbox [(ngModel)]="subtask.label">-->
<!--                  {{subtask.label}}-->
<!--                </mat-checkbox>-->
<!--              </li>-->
<!--            </mat-menu>-->
          </ul>
        </div>
      </mat-card>
    </div>
  </div>
  <p *ngIf="allArchivedNote.length > 0 && grid()== false" style="color: #5f6368;margin-left: 163px;margin-bottom: -8px ">OTHERS</p>
  <div style="margin-top: 13px; overflow-x: hidden;overflow-y: hidden; margin-left: 50px; width: 96%;"
       fxLayout="column wrap" fxLayoutGap="10px"
       fxLayoutAlign="start center" fxLayoutAlign.xs="center center" *ngIf="grid()== false">
    <div fxFlex.xs='100' *ngFor="let note of allArchivedNote | noteSort: searchTerm; let i = index">
      <mat-card (mouseenter)="mouseenter(i+'p')"
                (mouseleave)="mouseleave()" class="listmat" style="margin-top: 8px; margin-bottom: 8px" fxFlex="100%">
        <mat-card-content>

          <!-- <div *ngIf="items.image!=null">
            <img style="width: 100%;" src="{{items.image}}">
          </div> -->
          <div fxLayout="row" fxLayoutAlign="space-between center"
               style="margin-top: -12px;font-family: Roboto, Helvetica Neue, sans-serif;font-size: medium;color: #202124;opacity: 96%">
            {{note.title}}
            <button  *ngIf="isShowing && indexStatus === i+'p' && note.isPined"  mat-icon-button class="pinicon">
              <mat-icon matSuffix matTooltip="unpin note"  (click)="unpinNote(note, i)">push_pin
              </mat-icon>
            </button>
            <button  *ngIf="isShowing && indexStatus === i+'p' && !note.isPined"  mat-icon-button class="pinicon">
              <mat-icon matSuffix matTooltip="pin note" class="material-icons-outlined" (click)="pinNote(note, i)">push_pin
              </mat-icon>
            </button>
          </div>


          <div style="color: #5f6368">
            {{note.description}}
          </div>
        </mat-card-content>
        <div style="padding-left: 0px;
            padding-right: 0px; margin-left: -54px;margin-bottom: -100px">
          <ul style="list-style-type:none" fxLayout="row">
            <li>

              <button mat-icon-button class="iconButton">
                <mat-icon *ngIf="isShowing && indexStatus === i+'p'" matTooltip="reminder"
                          class="material-icons-outlined md-18">notifications
                </mat-icon>
              </button>

            </li>

            <li>
              <button mat-icon-button class="iconButton">
                <mat-icon *ngIf="isShowing && indexStatus === i+'p'" matTooltip="color"
                          class="material-icons-outlined md-18">palette
                </mat-icon>
              </button>
            </li>

            <li>
              <button mat-icon-button class="iconButton">
                <mat-icon *ngIf="isShowing && indexStatus === i+'p'" matTooltip="archive"
                          class="material-icons-outlined md-18">archive
                </mat-icon>

              </button>
            </li>
            <li>

              <button mat-icon-button class="iconButton">
                <mat-icon *ngIf="isShowing && indexStatus === i+'p'" matTooltip="delete"
                          class="material-icons-outlined md-18">delete
                </mat-icon>

              </button>
            </li>
            <li>

              <button mat-icon-button [mat-menu-trigger-for]="afterMenu" class="iconButton">
                <mat-icon  *ngIf="isShowing && indexStatus === i+'p'" matTooltip="more"
                           class="material-icons-outlined md-18">more_vert
                </mat-icon>
              </button>
            </li>
            <mat-menu #afterMenu xPosition="after">
              <button mat-menu-item>Delete Note</button>
              <button mat-menu-item>Add Lebel</button>
              <button mat-menu-item>Make A Copy</button>
            </mat-menu>

<!--            <mat-menu #addLebelMenu="matMenu" xPosition="after">-->
<!--              <h1 style="font-family: Roboto, Helvetica Neue, sans-serif; font-size: 14px; color: #5f6368" mat-dialog-title>Label Note</h1>-->
<!--              <mat-form-field>-->
<!--                <mat-label>Enter label name</mat-label>-->
<!--                <input matInput (input)="searchNode($event)" [(ngModel)]="labelSearchTerm">-->
<!--                <mat-icon matTooltip="Create lebel" style="cursor: pointer" matSuffix>search</mat-icon>-->
<!--              </mat-form-field>-->
<!--              <ul>-->
<!--                <li *ngFor="let subtask of allLebel | labelSort: labelSearchTerm">-->
<!--                  <mat-checkbox [(ngModel)]="subtask.label">-->
<!--                    {{subtask.label}}-->
<!--                  </mat-checkbox>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </mat-menu>-->
          </ul>

        </div>
      </mat-card>
    </div>
  </div>
</div>
