
<div style="alignment: center;margin-left: 154px;
     margin-top: 147px;" *ngIf="allTrashNote.length <= 0">
  <mat-icon style="color: #5f6368;" class="material-icons-outlined md-21">delete
  </mat-icon><br><br>
  <p style="color: #5f6368; opacity: 80%; margin-left: 137px;font-size: 26px">No notes in Trash</p>
</div>

<div style="margin-left:1px; margin-top: 1%;">
  <div style="margin-top: 0px;overflow-y: hidden; margin-left: 50px;margin-bottom: 5%; width: 96%;"
       fxLayout="row wrap" fxLayoutGap="10px"
       fxLayoutAlign="start center" fxLayoutAlign.xs="center center" *ngIf="grid()== true">
    <div fxFlex='280px' fxFlex.xs='100' *ngFor="let note of allTrashNote | noteSort: searchTerm; let i = index">
      <mat-card (mouseenter)="mouseenter(i+'p')"
                (mouseleave)="mouseleave()" class="gridmat" fxFlex="100%">
        <!--        <mat-icon *ngIf="isShowing && indexStatus === i" class="check" matTooltip="Select note">check_circle</mat-icon>-->
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between center"
               style=" margin-top:-12px; font-family: Roboto, Helvetica Neue, sans-serif;font-size: medium;color: #202124;opacity: 96%">
            {{note.title}}
          </div>

          <div style="color: #5f6368">
            {{note.description}}
          </div>
        </mat-card-content>
        <div style="padding-left: 0px;
            padding-right: 0px; margin-top: 40px; margin-left: -50px;margin-bottom: -28px">
          <ul style="list-style-type:none" fxLayout="row">
            <li>

              <button mat-icon-button class="iconButton" (click)="deleteForever(note, i)">
                <mat-icon *ngIf="isShowing && indexStatus === i+'p'" matTooltip="delete forever"
                          class="material-icons-outlined md-18">delete_forever
                </mat-icon>

              </button>
            </li>

            <li>
              <button mat-icon-button class="iconButton" (click)="restore(note, i)">
                <mat-icon *ngIf="isShowing && indexStatus === i+'p'" matTooltip="restore"
                          class="material-icons-outlined md-18" >restore_from_trash
                </mat-icon>
              </button>
            </li>
          </ul>
        </div>
      </mat-card>
    </div>
  </div>
  <p *ngIf="allTrashNote.length > 0 && grid()== false" style="color: #5f6368;margin-left: 163px;margin-bottom: -8px ">OTHERS</p>
  <div style="margin-top: 13px; overflow-x: hidden;overflow-y: hidden; margin-left: 50px; width: 96%;"
       fxLayout="column wrap" fxLayoutGap="10px"
       fxLayoutAlign="start center" fxLayoutAlign.xs="center center" *ngIf="grid()== false">
    <div fxFlex.xs='100' *ngFor="let note of allTrashNote | noteSort: searchTerm; let i = index">
      <mat-card (mouseenter)="mouseenter(i+'p')"
                (mouseleave)="mouseleave()" class="listmat" style="margin-top: 8px; margin-bottom: 8px" fxFlex="100%">
        <mat-card-content>

          <div fxLayout="row" fxLayoutAlign="space-between center"
               style="margin-top: -12px;font-family: Roboto, Helvetica Neue, sans-serif;font-size: medium;color: #202124;opacity: 96%">
            {{note.title}}
          </div>


          <div style="color: #5f6368">
            {{note.description}}
          </div>
        </mat-card-content>
        <div style="padding-left: 0px;
            padding-right: 0px; margin-top: 40px; margin-left: -54px;margin-bottom: -100px">
          <ul style="list-style-type:none" fxLayout="row">
            <li>

              <button mat-icon-button class="iconButton" (click)="deleteForever(note, i)">
                <mat-icon *ngIf="isShowing && indexStatus === i+'p'" matTooltip="delete forever"
                          class="md-18">delete_forever
                </mat-icon>
              </button>

            </li>

            <li>
              <button mat-icon-button class="iconButton" (click)="restore(note, i)">
                <mat-icon *ngIf="isShowing && indexStatus === i+'p'" matTooltip="restore"
                          class="md-18">restore_from_trash
                </mat-icon>
              </button>
            </li>

          </ul>

        </div>
      </mat-card>
    </div>
  </div>
</div>
