

    <ul style="list-style-type:none" fxLayout="row">
<li>

<button mat-icon-button class="iconButton" >
    <mat-icon   class="material-icons-outlined md-18" >notifications</mat-icon>

</button>
</li>

   <li>
<button mat-icon-button class="iconButton" >
    <mat-icon  class="material-icons-outlined md-18" >palette</mat-icon>
</button>
   </li>

  <li>
<button mat-icon-button class="iconButton" >
    <mat-icon  class="material-icons-outlined md-18" >archive</mat-icon>

  </button>
  </li>
     <li>

    <button mat-icon-button class="iconButton">
    <mat-icon  class="material-icons-outlined md-18" >delete</mat-icon>

  </button>
     </li>
    </ul>


