
 <mat-nav-list>
    <mat-list-item>
      <button mat-button  > 
    <mat-icon  class="material-icons-outlined orange600"  >emoji_objects</mat-icon>

      </button>


<button mat-button  > 
    <mat-icon   class="material-icons-outlined orange600" >notifications</mat-icon>
    
</button>
  

<button mat-button  > 
    <mat-icon  class="material-icons-outlined orange600" >palette</mat-icon> 
    
</button>

<button mat-button  > 
    <mat-icon  class="material-icons-outlined orange600" >archive</mat-icon>
    
  </button> 
  
    <button mat-button > 
    <mat-icon  class="material-icons-outlined orange600" >delete</mat-icon>
    
  </button>
  </mat-list-item>
</mat-nav-list>

