.material-icons-outlined{
  color: #5f6368;

}
.material-icons.md-18 { font-size: 18px; }

.iconButton{
  background-color: transparent!important;
  background-repeat: no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 0.8em;
  padding: 0px;
}
