<ul style="list-style-type:none" fxLayout="row">
  <li>

    <button mat-icon-button class="iconButton">
      <mat-icon matTooltip="reminder" class="material-icons-outlined md-18">notifications</mat-icon>

    </button>
  </li>

  <li>
    <button mat-icon-button class="iconButton">
      <mat-icon matTooltip="color" class="material-icons-outlined md-18">palette</mat-icon>
    </button>
  </li>

  <li>
    <button mat-icon-button class="iconButton">
      <mat-icon matTooltip="archive" class="material-icons-outlined md-18">archive</mat-icon>

    </button>
  </li>
  <li>

    <button mat-icon-button class="iconButton">
      <mat-icon matTooltip="delete" class="material-icons-outlined md-18">delete</mat-icon>

    </button>
  <li>

    <button mat-icon-button class="iconButton">
      <mat-icon matTooltip="more" class="material-icons-outlined md-18">more_vert</mat-icon>

    </button>
  </li>
</ul>


